
* { 
	font-family: arial;
	/*border: 1px solid grey;*/
}


body{
	width: 100%;
	font-family: arial;
	font-size: 80%;
	margin: 0;
	background: #eee;
	
}

#general{
	margin-left: auto;
	margin-top: 5%;
	margin-right:auto;
	width: 80%;
	background: white;
  overflow:auto;
}

#general h2{
	margin-left:3%;
	margin-top:3%;
}

#formspace{
	margin-left:auto;
	margin-right: auto;
	margin-bottom: 100px;
	margin-top:auto;
	width: 50%;
	background: #eee;
}

#formspace h3 {
	color: orange;
}

form{
	margin-bottom: 15px;
}

.inputs{
	margin-left:10%;

}

.error {
	color: red
}


#submit{
	background: orange;
	padding: 10px;
	margin-right: 0;
	color: white;
	display:inline-block;
	text-align: right;
	
}

#submit:hover{
	background-color: #ffb424;
	box-shadow: 0px 2px 2px #666;
}

#submit:active{
	background-color: #ff8f00;
}

